<app-header></app-header>
<h1>Bangladesh {{title}}</h1>
<button (click)="getData('Tawhidul islam')">clicMe</button>
<br /><br />
<input type="text" #box1 placeholder="keyup box" (keyup)="getData(box1.value)">
<br /><br />
<input type="text" #box2 placeholder="Keydown box" (keydown)="getData(box2.value)">
<br /><br />
<input type="text" #box3 placeholder="blur box" (blur)="getData(box3.value)">
<br /><br />
<input type="text" #box4 placeholder="Enter name " name="username" (input)="getData(box4.value)">
<p>box value is : {{displayVal}}</p>
<h2 (mouseover)="getData('mouse over')">code step by steap</h2>
<h3 (mouseleave)="getData('mouse leave')">code basic</h3>
<br /><br />
<button (click)="getcount('min')">--</button>
<p>Count : {{count}} </p>
<button (click)="getcount('add')">++</button>

<h1 *ngIf="show; then ifBlock else elseBlock"></h1>
<ng-template #ifBlock>
    <h1>if condition</h1>
</ng-template>
<ng-template #elseBlock>
    <h1>else condition</h1>
</ng-template>
<ng-template [ngIf]="color === 'red'">
    <h1 style="color: red">red Color</h1>
</ng-template>
<ng-template [ngIf]="color === 'blue'">
    <h1 style="color: blue">Bluue Color</h1>
</ng-template>
<h3 *ngFor="let item of user">Name is : {{item}}</h3>
<h3 *ngFor="let detail of  userDetails">Details is : {{detail.name}} ----- {{detail.email}} ---
    {{detail.phone}}</h3>

<ul *ngFor="let detail of  employDetails">
    <p>Emplye Name : {{detail.name}}</p>
    <p>Emplye Name : {{detail.email}}</p>
    <p>Emplye Name : {{detail.phone}}</p>

    <ul *ngFor="let account of  detail.accounts">
        <p>Emplye account :{{account}}</p>
    </ul>
</ul>
<h2 [style.color] = "colorOne" [style.backgroundColor] = "bgClor">All employ present saturday</h2>
<button (click) = "changeColor()">Change color By button click</button>
<br/><br/>
<form #basicForm="ngForm" (submit)="getFormData(basicForm.value)">
    <input type="text" ngModel placeholder="Enter name " name="name">
    <br/><br/>
    <input type="text" ngModel placeholder="Enter email " name="email">
    <br/><br/>
    <input type="text" ngModel placeholder="Enter phone " name="phone">
    <br/><br/>
    <button>Submit</button>
</form>
<ul>
    <li>{{userFormData.name}}</li>
    <li>{{userFormData.email}}</li>
    <li>{{userFormData.phone}}</li>

</ul>

<app-profile></app-profile>